body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#container {
    width: 100vw;
    height: 90vh;
}

button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
